In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')

In [3]:
# 1. **Iris 데이터셋에서 'species' 열을 제거하세요.**
iris.drop(['species'], axis=1, inplace=True)
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
# 2. **결측치가 있는 행을 모두 제거하세요.**
print('제거 전 : ',len(iris))
iris.dropna(inplace=True)
print('제거 후 : ',len(iris))

제거 전 :  150
제거 후 :  150

In [5]:
# 3. **중복된 행을 제거하세요.**
print('제거 전 : ',len(iris))
iris.drop_duplicates(inplace=True)
print('제거 후 : ',len(iris))

제거 전 :  150
제거 후 :  149

In [6]:
# 4. **'petal_length'가 5보다 큰 행만 선택하세요.**
iris[iris['petal_length'] > 5].head(5)

     sepal_length  sepal_width  petal_length  petal_width
83            6.0          2.7           5.1          1.6
100           6.3          3.3           6.0          2.5
101           5.8          2.7           5.1          1.9
102           7.1          3.0           5.9          2.1
103           6.3          2.9           5.6          1.8

In [7]:
# 5. **'species'에 따라 데이터를 그룹화하세요.**
iris = sns.load_dataset('iris')
group_iris = iris.groupby('species')

In [8]:
# 6. **그룹화한 데이터에서 'sepal_length'의 평균을 계산하세요.**
mean_speal_length = group_iris.mean('sepal_length')

In [9]:
# 7. **'petal_length'를 기준으로 데이터를 오름차순으로 정렬하세요.**
iris.sort_values('petal_length', ascending=True)

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [10]:
# 8. **'petal_width'를 기준으로 데이터를 내림차순으로 정렬하세요.**
iris.sort_values('petal_length', ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
..            ...          ...           ...          ...        ...
16            5.4          3.9           1.3          0.4     setosa
35            5.0          3.2           1.2          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
22            4.6          3.6           1.0          0.2     setosa

[150 rows x 5 columns]

In [11]:
# 9. **'species'의 빈도수를 구하세요.**
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [12]:
# 10. **'species' 값 중 'setosa'를 포함하는 행만 선택하세요.**
iris[iris['species'].str.contains('setosa')].head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
# 11. **'species' 값이 'setosa'로 시작하는 행을 선택하세요.**
iris[iris['species'].str.startswith('setosa')].head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
# 12. **'species' 값이 'virginica'로 끝나는 행을 선택하세요.**
iris[iris['species'].str.endswith('virginica')].head(5)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

In [15]:
# 13. **'species'의 'setosa'를 'SETOSA'로 대체하세요.**
iris['species'] = iris['species'].str.replace('setosa', 'SETOSA')
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  SETOSA
1           4.9          3.0           1.4          0.2  SETOSA
2           4.7          3.2           1.3          0.2  SETOSA
3           4.6          3.1           1.5          0.2  SETOSA
4           5.0          3.6           1.4          0.2  SETOSA