In [1]:
"까먹으신건가요?".count("까")

1

In [2]:
"까먹으신건가요?".index("까")

0

In [3]:
숫자, 문자 = 5, "5"

print(숫자, 문자)

5 5

In [4]:
# 안녕하세요 x
인사 = input("(우리학교 최고 존잘남)아.... 안녕")
print(인사 + " 눈부시게")

뭘 봐 눈부시게

In [5]:
# int(), float(), str(), bool()

정수 = input()
정수 = int(정수)
print(정수, type(정수))

실수 = input()
실수 = float(실수)
print(실수, type(실수))

5 <class 'int'>
5.0 <class 'float'>

In [6]:
넌센스, 정답 = input().split(",")
print(f'넌센스 퀴즈 : {넌센스}')
print(f'정답 : {정답}')

넌센스 퀴즈 : 스페인에서 에스파를 만나면?
정답 :  에스파냐

In [7]:
#시퀀스 자료형에 다 지원되는 메소드
번호1, 번호2, 번호3, 번호4 = input().split(",")

번호1 = int(번호1)
번호2 = int(번호2)
번호3 = int(번호3)
번호4 = int(번호4)

print(type(번호1), 번호2, 번호3, 번호4)

<class 'int'> 23 232 2323

In [14]:
#레거시 :누군가 남겨두고간 코드
#리팩토링 : 결과의 변경 없이 코드의 구조를 재조정하는 것입니다.
#input()

fish__p , fish__s , fish__j = "붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
fish__p__sell , fish__s__sell , fish__j_sell = 2000, 2500, 3000
order__p, order_s, order_j = map(int, (input("팥붕, 슈붕, 잡붕 순서대로 원하는 개수를 ,로 구분지어 넣어주세요").split(',')))
order_p__pay, order_s__pay, order_j__pay = fish__p__sell * order__p,fish__s__sell * order_s, fish__j_sell *order_j
total = order_s + order_j + order__p
total_pay = order_s__pay + order_j__pay + order_p__pay

print(f'주문이 완료되었습니다. {fish__p} {order__p}개, {fish__s} {order_s}개, {fish__j} {order_j}개 총 {total}개 결제 금액은 {total_pay}원 입니다.')

주문이 완료되었습니다. 붕어빵(팥) 1개, 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 6개 결제 금액은 16000원 입니다.