In [1]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매직 서울북부"

In [2]:
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
print(float(5))
print(int(5.0))
print("5", "5.0")
print(type("5"), type("5.0"))

5.0
5
5 5.0
<class 'str'> <class 'str'>

In [4]:
#0 인덱스
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
print(소속[7])

s매직 서울북부
s
매
직

서
울
북
부

In [5]:
"매" in 소속
"3" in 소속

False

In [7]:
# 문자열 즉 시퀀스 끼리 합치기

"13" + "금요일"

'13금요일'

In [8]:
# 복사가 가능합니다

옛날게임 = "바니바니 당근당근" * 20
print(옛날게임)

len(옛날게임)

바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근

180

In [9]:
퀴즈 = "차 4대가 고장나면? 카포에라"
print(퀴즈[12:16])
print(퀴즈[12:15])

카포에라
카포에

In [10]:
# 퀴즈[15]
퀴즈[-1]

'라'

In [11]:
생년월일 = "2000.12.25"
년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:11]

print(f'{년}, {월}, {일}')
#2000 12 25

2000, 12, 25

In [12]:
숫자 = "123838483848939"
#전체 출력
print(숫자[::])

#전체 출력
print(숫자[::-1])

#첫번째 인덱스 기준으로 2칸씩 띄어쓰기 출력하기
print(숫자[::2])

#첫번째 인덱스 기준으로 2칸씩 띄어쓰기 출력하기
print(숫자[4:1:-1])
print(숫자[4:])

123838483848939
939848384838321
13343499
383
38483848939

In [13]:
퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"
print(퀴즈[22:28])

어중이떠중이

In [14]:
과일 = "apple"
과일.count("p")

2

In [15]:
과일[2]
과일.index("p")

1

In [16]:
라라랜드 = "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까"